
@font-face { font-family: 'Arial'; src: local('Ubuntu'); }
@font-face { font-family: 'Arial'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Arial'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Arial'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

@font-face { font-family: 'Arial Unicode MS'; src: local('Ubuntu'); }
@font-face { font-family: 'Arial Unicode MS'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Arial Unicode MS'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Arial Unicode MS'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

@font-face { font-family: 'Courier New'; src: local('Ubuntu Mono'); }
@font-face { font-family: 'Courier New'; font-weight: bold; src: local('Ubuntu Mono Bold'); }
@font-face { font-family: 'Courier New'; font-style: italic; src: local('Ubuntu Mono Italic'); }
@font-face { font-family: 'Courier New'; font-style: italic; font-weight: bold; src: local('Ubuntu Mono Bold Italic'); }

@font-face { font-family: 'Helvetica'; src: local('Ubuntu'); }
@font-face { font-family: 'Helvetica'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Helvetica'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Helvetica'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

@font-face { font-family: 'Helvetica Neue'; src: local('Ubuntu'); }
@font-face { font-family: 'Helvetica Neue'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Helvetica Neue'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Helvetica Neue'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

@font-face { font-family: 'Tahoma'; src: local('Ubuntu'); }
@font-face { font-family: 'Tahoma'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Tahoma'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Tahoma'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

/* only for Skype */
@font-face { font-family: 'Segoe UI Local'; src: local('Ubuntu'); }
@font-face { font-family: 'Segoe UI Local'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Segoe UI Local'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Segoe UI Local'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

@font-face { font-family: 'Segoe WP'; src: local('Ubuntu'); }
@font-face { font-family: 'Segoe WP'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Segoe WP'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Segoe WP'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

@font-face { font-family: 'Segoe UI Web'; src: local('Ubuntu'); }
@font-face { font-family: 'Segoe UI Web'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'Segoe UI Web'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'Segoe UI Web'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }

@font-face { font-family: 'SkypeUISymbol'; src: local('Ubuntu'); }
@font-face { font-family: 'SkypeUISymbol'; font-weight: bold; src: local('Ubuntu Bold'); }
@font-face { font-family: 'SkypeUISymbol'; font-style: italic; src: local('Ubuntu Italic'); }
@font-face { font-family: 'SkypeUISymbol'; font-style: italic; font-weight: bold; src: local('Ubuntu Bold Italic'); }
