// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
//atom-text-editor::shadow .cursor {
  // border-color: red;
//}

// FiraCode
// atom-text-editor {
//  text-rendering: optimizeLegibility;
// }

// atom-text-editor::shadow .string.quoted,
// atom-text-editor::shadow .string.regexp {
//   -webkit-font-feature-settings: "liga" off, "calt" off;
// }

// Just to test
//atom-text-editor::shadow .php.constant {
    // outline: 1px dotted #693;
    // font-weight: bold;
//}
